@inject NavigationManager Navigation

@*<AuthorizeView>
    <Authorized>        
        <MudMenu Icon="@Icons.Material.Filled.Settings">

        </MudMenu>
        <a href="logout">Log out (@context.User.Identity.Name)</a>
    </Authorized>
    <NotAuthorized>
        <a href="login?redirectUri=@Uri.EscapeDataString(Navigation.BaseUri)">Log in</a>
    </NotAuthorized>
</AuthorizeView>*@

<AuthorizeView>
    <Authorized>
        <MudMenu>
            <ActivatorContent>
                <MudAvatar Color="Color.Secondary">@char.ToUpper(context.User.Identity.Name[0])</MudAvatar>
            </ActivatorContent>
            <ChildContent>
                <MudMenuItem Href="logout" Target="_self">Sign out (@context.User.Identity.Name)</MudMenuItem>
            </ChildContent>
        </MudMenu>
    </Authorized>
    <NotAuthorized>
        <a href="login?redirectUri=@Uri.EscapeDataString(Navigation.BaseUri)">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {

}
